body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    max-width: 1000px;
    min-height: 100vh;
    margin: 1rem auto;
    text-align: center;
}

#main {
    background-color: rgba(0, 173, 94, 0.1);
    border-radius: 5px;
    color: rgba(171, 24, 0, 0.6);
    padding-top: 0.1px;
    padding-bottom: 0.5px;
}

header p {
    font-style: italic;
    font-size: small;
    margin-top: -1rem;
}

#img-div {
    background-color: white;
    margin: 20px;
}

#img-div, .mid-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 4px;
}

#img-div img {
    width: 25%;
    display: block;
    height: 375px;
    object-fit: cover;
    margin-top: 8px;
    padding: 0 4px;
    border-radius: 10px;
}

figcaption {
    font-style: italic;
    font-size: xx-small;
}

.mid-section #tribute-info {
    width: 60%;
    top: 0;
    align-self: flex-start;
}

h2 {
    margin: 0;
}

.bold {
    font-weight: 600;
}

#tribute-info ul li {
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

blockquote {
    font-style: italic;
    margin-top: 2rem;
}

.side-bar {
    width: 30%;
    top: 0;
    align-self: flex-start;
}

#nutshell-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.side-bar > p {
    display: flex;
    flex-direction: row;
}

.side-bar .bold, .side-bar .right {
    display: block;
    text-align: left;
    font-size: smaller;
}

.side-bar .bold {
    width: 10%;
    min-width: 90px;
    padding-left: 35px;
}

.audio {
    font-size: smaller;
    font-style: italic;
}

audio {
    border-radius: 30%;
}

a {
    color: rgba(171, 24, 0, 0.8);
    text-decoration: none;
}

a:hover {
    color: rgba(0, 173, 94, 0.8);
}

@media (max-width: 400px) {
    .mid-section #tribute-info {
        width: 100%;
    }

    .side-bar {
        width: 100%;
    }
}